@charset "UTF-8";


body, div, p, h1, h2, h3, h4, h5 img {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'adriane', Georgia, serif;
}

.container {
  min-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.menu-icon {
  float: right;
  display: inline-flex;
}

.list-item {
  margin-left: 2em;
  padding-top: 4em;
  list-style: none;
}

.list-item a {
  color: darkgray;
}

.list-item a:hover {
  color: black;
  text-decoration: none;
  border-bottom: solid 2px #fff3b8;/*cream yellow*/
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.underline-1 {
  border-bottom: solid 2px gray;
  padding-top: 110px;
  margin-bottom: 100px;
}

.my-pic img{
  height: 550px;
  width: 600px;
  position: relative;
  left: 0;
  bottom: 0;
}

.intro {
float: right;
 position: relative;
 bottom: 400px;
 left: 60px;
 width: 650px;
 color: black;
}

.intro h1 {
  font-family: 'adriane', Georgia, serif;
  font-size: 3.4em;
}

/*.intro p {
  font-family: 'adriane', Georgia, serif;
  text-align: left;
  font-size: 20px;
  line-height: 1.5em;
}*/

.scroll-icon img {
  position: relative;
  left: 590px;
  width: 60px;
}

.scroll-icon a {
  padding-top: 70px;
}

.work-1 h2 {
  font-family: 'adriane', Georgia, serif;
  font-size: 4em;
   position: relative;
   left: 550px;
   top: 90px;
   border-bottom: solid 2px yellow;
   width: 160px;
}

.work-1 img {
  box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
  width: 600px;
  position: relative;
  left: 200px;
  top: 200px;
}

.work-1 p {
  font-family: 'adriane', Georgia, serif;
  width: 200px;
  float: right;
  position: relative;
  bottom: 100px;
  right: 60px;
  font-size: 1.2em;
}

.work-1 a {
  float: right;
  border: solid 2px lightyellow;
  color: darkgray;
  border-radius: 4px;
  font-size: 1.4em;
  padding: 5px;
  position: relative;
  left: 120px;
  bottom: 50px;
}

.work-1 a:hover {
  float: right;
  border: solid 2px yellow;
  color: black;
  border-radius: 4px;
  font-size: 1.4em;
  padding: 10px;
  position: relative;
  left: 120px;
  bottom: 50px;
  transition: all 0.7s ease;
  text-decoration: none;
}

.mywork {
  position: relative;
  top: 300px;
  left: 78px;
  /* padding: 6px; */
  padding: 10px 0 10px 14px;
  /* font-size: 1.8em; */
  border: solid 2px yellow;
  width: 110px;
  border-radius: 6px;
}

.work-sample a{
  font-size: 0.7em;
  text-decoration: none;
  color: darkgray;
}

.work-sample a:hover{
  font-size: 0.7em;
  text-decoration: none;
  color: black;
  transition: all 0.7s ease;
}

.more {
  position: relative;
  width: 400px;
  top: 350px;
  left: 500px;
  color: coral;
  font-size: 1em;
}

/*.underline-3 {
  border-bottom: solid 2px darkgray;
  padding-top: 510px;
}

.service {
  background-color: #f8f4e6;/*ivory*/


/*.service h3 {
  font-family: 'adriane', Georgia, serif;
  padding: 120px 0 55px 60px;
  font-size: 3em;
}

.service  a {
  color: pink;
}

.service  a:hover {
  color: black;
  text-decoration: none;
}

.service p {
  font-family: 'adriane', Georgia, serif;
  margin: 20px 0 0 57px;
  font-size: 1.5em;
  line-height: 1.5;
  width: 1200px;
}

.service-2 {
  font-size: 1.5em;
  color: black;
  opacity: 0.5;
  font-family: 'adriane', Georgia, serif;
  padding: 20px 0 0 90px;
}

.service-2 li {
  line-height: 3em;
  width: 700px;
}

.underline-4 {
  border: solid 1px darkgray;
  margin-top: 120px;
}*/

.footer h4 {
  font-family: 'adriane', Georgia, serif;
  text-align: center;
  font-size: 2em;
  text-align: center;
  padding-top: 120px;
  opacity: 0.7;
}

.footer a {
  font-family: 'adriane', Georgia, serif;
  border: solid 2px lightyellow;
  color: darkgray;
  border-radius: 4px;
  font-size: 1.4em;
  padding: 10px;
  position: relative;
  left: 550px;
  top: 50px;
}

.footer a:hover {
  font-family: 'adriane', Georgia, serif;
  border: solid 2px yellow;
  color: black;
  border-radius: 4px;
  font-size: 1.4em;
  padding: 10px;
  position: relative;
  left: 550px;
  top: 50px;
  transition: all 0.6s ease;
  text-decoration: none;
}

.underline-5 {
  border: solid 1px darkgray;
  margin-top: 130px;
}

.footer p {
  font-family: 'adriane', Georgia, serif;
  text-align: center;
  padding-top: 20px;
}


/*work section index-2.html*/

.work-section h2 {
  text-align: center;
  font-size: 3em;
  font-family: serif;
}

.work-2 h3 {
  font-size: 1.4em;
  font-family: 'adriane', Georgia, serif;
  margin: 100px 0 70px 550px;
}

.work-2 p {
  font-family: 'adriane', Georgia, serif;
  position: relative;
  font-size: 1em;
  text-align: center;
  /*opacity: 0.5;*/
  display: inline-block;
  text-align: left;
  width: 700px;
  left: 270px;
  top: 60px;
  line-height: 35px;
}

.work-2 a {
  color: #000000;
  font-weight: 900;
}

.work-2 a:hover {
  color: black;
  text-decoration: none;
  border-bottom: solid 2px #fff3b8;/*cream yellow*/
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.weblink a {
  border: solid 2px lightyellow;
  color: darkgray;
  border-radius: 4px;
  font-size: 1em;
  padding: 15px;
  position: relative;
  top: 15px;
  left: 530px;
}

.weblink a:hover {
  border: solid 2px yellow;
  color: black;
  border-radius: 4px;
  font-size: 1em;
  padding: 15px;
  position: relative;
  top: 15px;
  left: 530px;
  transition: all 0.8s ease;
  text-decoration: none;
}

/*.work-section a {
  border: solid 2px lightyellow;
  color: darkgray;
  border-radius: 4px;
  font-size: 1em;
  padding: 15px;
  position: relative;
  top: 70px;
  left: 530px;
}

.work-section a:hover {
  border: solid 2px yellow;
  color: black;
  border-radius: 4px;
  font-size: 1.1em;
  padding: 15px;
  position: relative;
  top: 70px;
  left: 530px;
  transition: all 0.8s ease;
  text-decoration: none;
} */

.full-page {
  width: 800px;
  position: relative;
  left: 200px;
  top: 200px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
}

.work-2 h2 {
  width: 400px;
  position: relative;
  top: 400px;
  left: 30px;
  font-size: 1.3em;
  color: orange;
}

.mockup  {
  background-color: #f8f8f8;
  height: 900px;
  margin-top: 400px;
}

.desktop {
  position: relative;
  left: 330px;
  top: 100px;
  width: 400px;
}

.tablet {
  position: relative;
  top: 400px;
  left: 100px;
  width: 400px;
}

.mobile {
  position: relative;
  bottom: 200px;
  left: 100px;
  width: 330px;
}


@media (min-width:320px) {
  .container {
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
  }

  .menu-icon {
    float: right;
    display: inline-flex;
  }

  .list-item {
    margin-left: 2rem;
    padding-top: 4em;
    list-style: none;
  }

  .list-item a {
    color: darkgray;
  }

  .list-item a:hover {
    color: black;
    text-decoration: none;
    border-bottom: solid 2px #fff3b8;/*cream yellow*/
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
  }

  .underline-1 {
    border-bottom: solid 2px gray;
    padding-top: 110px;
    margin-bottom: 100px;
  }

  .my-pic img{
    height: 280px;
    width: 290px;
    position: relative;
    bottom: 55px;
    left: 0;
  }

  .intro {
    float: right;
    position: relative;
    bottom: 0;
    left: -16px;
    width: 248px;
    color: black;
  }

  .intro h1 {
    font-family: 'adriane', Georgia, serif;
    font-size: 2.1em;
    margin-left: 2px;
  }

  .intro p {
    font-family: 'adriane', Georgia, serif;
    text-align: left;
    font-size: 13px;
    line-height: 1.5em;
  }

  .scroll-icon img {
    position: relative;
    left: 590px;
    width: 60px;
  }

  .scroll-icon a {
    padding-top: 70px;
  }

  .work-1 h2 {
    font-family: 'adriane', Georgia, serif;
    font-size: 2.2em;
    position: relative;
    left: 104px;
    top: 90px;
    border-bottom: solid 2px yellow;
    width: 92px;
  }

  .work-1 img {
    box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
    width: 280px;
    position: relative;
    left: 5px;
    top: 220px;
  }

  .work-1 p {
    font-family: 'adriane', Georgia, serif;
    width: 200px;
    float: right;
    position: relative;
    bottom: 100px;
    right: 25px;
    font-size: 1rem;
  }

  .work-1 a {
    float: right;
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 0.8rem;
    padding: 2px;
    position: relative;
    left: -93px;
    bottom: 96px;
  }

  .work-1 a:hover {
    float: right;
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 0.8em;
    padding: 2px;
    position: relative;
    left: -93px;
    bottom: 96px;
    transition: all 0.7s ease;
    text-decoration: none;
  }

  .mywork {
    position: relative;
    top: 300px;
    left: 90px;
    /* padding: 6px; */
    padding: 10px 0 10px 14px;
    /* font-size: 1.8em; */
    border: solid 2px yellow;
    width: 110px;
    border-radius: 6px;
  }

  .work-sample a{
    font-size: 0.7em;
    text-decoration: none;
    color: darkgray;
  }

  .work-sample a:hover{
    font-size: 0.7em;
    text-decoration: none;
    color: black;
    transition: all 0.7s ease;
  }

  .more {
    position: relative;
    width: 255px;
    top: 260px;
    left: 45px;
    color: coral;
    font-size: 0.7em;
  }

  /*.underline-3 {
    border-bottom: solid 2px darkgray;
    padding-top: 510px;
  }

  .service {
    background-color: #f8f4e6;/*ivory*/


  /*.service h3 {
    font-family: 'adriane', Georgia, serif;
    padding: 60px 0 55px 48px;
    font-size: 2em;
  }

  .service  a {
    color: pink;
  }

  .service  a:hover {
    color: black;
    text-decoration: none;
  }

  .service p {
    font-family: 'adriane', Georgia, serif;
    margin: 20px 0 0 30px;
    font-size: 1.5em;
    line-height: 1.5;
    width: 283px;
  }

  .service-2 {
    font-size: 1.5em;
    color: black;
    opacity: 0.5;
    font-family: 'adriane', Georgia, serif;
    padding: 54px 0 0 41px;
  }

  .service-2 li {
    line-height: 1.5em;
    width: 278px;
  }

  .underline-4 {
    border: solid 1px darkgray;
    margin-top: 120px;
  } */


  .text {
    width: 261px;
    font-size: 13px;
  }

  .skill-section {
    background-color: ghostwhite;
    height: 740px;
    margin-left: 0;
    margin-top: 430px;
  }

  .my-skills-1 {
    position: relative;
    top: 42px;
    left: -13px;
  }

  .my-skills-1 img {
    margin-left: 95px;
  }

  .my-skills-1 h1 {
    margin-left: 79px;
    font-size: 1.3em;
  }

  .my-skills-2 {
    position: relative;
    left: -16px;
    bottom: -90px;
  }

  .my-skills-2 h1{
    margin-left: 38px;
    font-size: 1.2em;
  }

  .my-skills-2 img {
    margin-left: 96px;
  }

  .my-skills-3 {
    position: relative;
    left: -17px;
    bottom: -140px;
    /* top: -350px; */
  }

  .my-skills-3 h1{
    margin-left: 65px;
    font-size: 1.3em;
  }

  .my-skills-3 img{
    margin-left: 101px;
  }

  .footer h4 {
    font-family: 'adriane', Georgia, serif;
    text-align: center;
    font-size: 0.8em;
    text-align: center;
    padding-top: 120px;
    opacity: 0.7;
  }

  .footer a {
    font-family: 'adriane', Georgia, serif;
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1em;
    padding: 6px;
    position: relative;
    left: 98px;
    top: 50px;
  }

  .footer a:hover {
    font-family: 'adriane', Georgia, serif;
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1em;
    padding: 6px;
    position: relative;
    left: 98px;
    top: 50px;
    transition: all 0.6s ease;
    text-decoration: none;
  }

  .underline-5 {
    border: solid 1px darkgray;
    margin-top: 130px;
  }

  .footer p {
    font-family: 'adriane', Georgia, serif;
    text-align: center;
    padding-top: 20px;
  }


  /*work section index-2.html*/

  .work-section h2 {
    text-align: center;
    font-size: 1.2em;
    font-family: serif;
    margin-left: 19px;
  }

  .work-2 h3 {
    font-size: 1em;
    font-family: 'adriane', Georgia, serif;
    margin: 77px 0 30px 118px;
  }

  .work-2 p {
    font-family: 'adriane', Georgia, serif;
    position: relative;
    font-size: 0.9em;
    text-align: center;
    /*opacity: 0.5;*/
    display: inline-block;
    text-align: left;
    width: 290px;
    left: 6px;
    top: 43px;
    line-height: 29px;
  }

  .work-2 a {
    color: #eec362;
    font-weight: 100;
  }

  .work-2 a:hover {
    color: #000b00;
    text-decoration: none;
    font-weight: 100;
    border-bottom: solid 2px #fff3b8;/*cream yellow*/
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
  }

  .weblink a {
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 0.6em;
    padding: 6px;
    position: relative;
    top: 15px;
    left: 94px;
  }

  .weblink a:hover {
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 0.6em;
    padding: 6px;
    position: relative;
    top: 15px;
    left: 94px;
    transition: all 0.8s ease;
    text-decoration: none;
  }

  /*.work-section a {
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1em;
    padding: 15px;
    position: relative;
    top: 30px;
    left: 62px;
  }

  .work-section a:hover {
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1.1em;
    padding: 15px;
    position: relative;
    top: 30px;
    left: 62px;
    transition: all 0.8s ease;
    text-decoration: none;
  } */

  .full-page {
    width: 250px;
    position: relative;
    left: 24px;
    top: 130px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
  }

  .work-2 h2 {
    width: 260px;
    position: relative;
    top: 300px;
    left: 7px;
    font-size: 1em;
    color: orange;
  }

  .mockup  {
    background-color: #f8f8f8;
    height: 740px;
    margin-top: 302px;
  }

  .desktop {
    position: relative;
    left: 34px;
    top: 31px;
    width: 220px;
  }

  .tablet {
    position: relative;
    left: 15px;
    top: 30px;
    float: right;
    width: 220px;
  }

  .mobile {
    position: relative;
    bottom: -58px;
    left: 16px;
    width: 170px;
  }
}

@media (min-width:360px) {
  .container {
    min-width: 360px;
    margin: 0 auto;
    padding: 0;
  }

  .menu-icon {
    float: right;
    display: inline-flex;
  }

  .list-item {
    margin-left: 2.8em;
    padding-top: 4em;
    list-style: none;
  }

  .list-item a {
    color: darkgray;
  }

  .list-item a:hover {
    color: black;
    text-decoration: none;
    border-bottom: solid 2px #fff3b8;/*cream yellow*/
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
  }

  .underline-1 {
    border-bottom: solid 2px gray;
    padding-top: 110px;
    margin-bottom: 100px;
  }

  .my-pic img{
    height: 300px;
    width: 330px;
    position: relative;
    bottom: 55px;
    left: 0;
  }

  .intro {
    float: right;
    position: relative;
    bottom: 0;
    left: -35px;
    width: 248px;
    color: black;
  }

  .intro h1 {
    font-family: 'adriane', Georgia, serif;
    font-size: 2rem;
    margin-left: 2px;
  }

  .JPversion {
    font-family: 'adriane', Georgia, serif;
    text-align: left;
    font-size: 14px;
    line-height: 1.5em;
  }

  /*.intro p {
    font-family: 'adriane', Georgia, serif;
    text-align: left;
    font-size: 20px;
    line-height: 1.5em;
  }*/

  .scroll-icon img {
    position: relative;
    left: 590px;
    width: 60px;
  }

  .scroll-icon a {
    padding-top: 70px;
  }

  .work-1 h2 {
    font-family: 'adriane', Georgia, serif;
    font-size: 3rem;
    position: relative;
    left: 104px;
    top: 90px;
    border-bottom: solid 2px yellow;
    width: 124px;
  }

  .work-1 img {
    box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
    width: 330px;
    position: relative;
    left: 0;
    top: 220px;
  }

  .work-1 p {
    font-family: 'adriane', Georgia, serif;
    width: 200px;
    float: right;
    position: relative;
    bottom: 100px;
    right: 38px;
    font-size: 1em;
  }

  .work-1 a {
    float: right;
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 0.5rem;
    padding: 5px;
    position: relative;
    left: 81px;
    bottom: 72px;
  }

  .work-1 a:hover {
    float: right;
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1.1em;
    padding: 5px;
    position: relative;
    left: 81px;
    bottom: 72px;
    transition: all 0.7s ease;
    text-decoration: none;
  }

  .mywork {
    position: relative;
    top: 300px;
    left: 97px;
    /* padding: 6px; */
    padding: 0px 0px 20px 13px;
    /* font-size: 1.8em; */
    border: solid 2px yellow;
    width: 140px;
    border-radius: 6px;
  }

  .work-sample a{
    font-size: 1.1em;
    text-decoration: none;
    color: darkgray;
  }

  .work-sample a:hover{
    font-size: 1.1em;
    text-decoration: none;
    color: black;
    transition: all 0.7s ease;
  }

  .more {
    position: relative;
    width: 280px;
    top: 220px;
    left: 45px;
    color: coral;
    font-size: 0.7em;
  }

  /*.underline-3 {
    border-bottom: solid 2px darkgray;
    padding-top: 510px;
  }

  .service {
    background-color: #f8f4e6;/*ivory*/


  /*.service h3 {
    font-family: 'adriane', Georgia, serif;
    padding: 60px 0 55px 48px;
    font-size: 2em;
  }

  .service  a {
    color: pink;
  }

  .service  a:hover {
    color: black;
    text-decoration: none;
  }

  .service p {
    font-family: 'adriane', Georgia, serif;
    margin: 20px 0 0 30px;
    font-size: 1.5em;
    line-height: 1.5;
    width: 283px;
  }

  .service-2 {
    font-size: 1.5em;
    color: black;
    opacity: 0.5;
    font-family: 'adriane', Georgia, serif;
    padding: 54px 0 0 41px;
  }

  .service-2 li {
    line-height: 1.5em;
    width: 278px;
  }

  .underline-4 {
    border: solid 1px darkgray;
    margin-top: 120px;
  } */


  .text {
    font-size: 14px;
    width: 293px;
  }
  .skill-section {
    background-color: ghostwhite;
    height: 800px;
    margin-left: 0;
    margin-top: 430px;
  }

  .my-skills-1 {
    position: relative;
    top: 42px;
    left: -8px;
  }

  .my-skills-1 img {
    margin-left: 110px;
  }

  .my-skills-1 h1 {
    margin-left: 89px;
    font-size: 1.5rem;
  }

  .my-skills-2 {
    position: relative;
    left: -9px;
    bottom: -90px;
  }

  .my-skills-2 h1{
    margin-left: 37px;
    font-size: 1.3rem;
  }

  .my-skills-2 img {
    margin-left: 105px;
  }

  .my-skills-3 {
    position: relative;
    left: -8px;
    bottom: -140px;
    /* top: -350px; */
  }

  .my-skills-3 h1{
    margin-left: 65px;
    font-size: 1.5rem;
  }

  .my-skills-3 img{
    margin-left: 108px;
  }

  .footer h4 {
    font-family: 'adriane', Georgia, serif;
    text-align: center;
    font-size: 1em;
    text-align: center;
    padding-top: 120px;
    opacity: 0.7;
  }

  .footer a {
    font-family: 'adriane', Georgia, serif;
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1em;
    padding: 5px;
    position: relative;
    left: 121px;
    top: 50px;
  }

  .footer a:hover {
    font-family: 'adriane', Georgia, serif;
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1em;
    padding: 5px;
    position: relative;
    left: 121px;
    top: 50px;
    transition: all 0.6s ease;
    text-decoration: none;
  }

  .underline-5 {
    border: solid 1px darkgray;
    margin-top: 130px;
  }

  .footer p {
    font-family: 'adriane', Georgia, serif;
    text-align: center;
    padding-top: 20px;
  }


  /*work section index-2.html*/

  .work-section h2 {
    text-align: center;
    font-size: 1.5em;
    font-family: serif;
    margin-left: 11px;
  }

  .work-2 h3 {
    font-size: 1em;
    font-family: 'adriane', Georgia, serif;
    margin: 68px 0 29px 129px;
  }

  .work-2 p {
    font-family: 'adriane', Georgia, serif;
    position: relative;
    font-size: 0.9em;
    text-align: center;
    /*opacity: 0.5;*/
    display: inline-block;
    text-align: left;
    width: 305px;
    left: 13px;
    top: 39px;
    line-height: 31px;
  }

  .work-2 a {
    color: #eec362;
    font-weight: 100;
  }

  .work-2 a:hover {
    color: #000b00;
    text-decoration: none;
    font-weight: 100;
    border-bottom: solid 2px #fff3b8;/*cream yellow*/
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
  }

  .weblink a {
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 0.5em;
    padding: 7px;
    position: relative;
    top: 15px;
    left: 114px;
  }

  .weblink a:hover {
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 0.5em;
    padding: 7px;
    position: relative;
    top: 15px;
    left: 114px;
    transition: all 0.8s ease;
    text-decoration: none;
  }

  /*.work-section a {
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1em;
    padding: 15px;
    position: relative;
    top: 15px;
    left: 80px;
  }

  .work-section a:hover {
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1.1em;
    padding: 15px;
    position: relative;
    top: 15px;
    left: 80px;
    transition: all 0.8s ease;
    text-decoration: none;
  } */

  .full-page {
    width: 290px;
    position: relative;
    left: 20px;
    top: 120px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
  }

  .work-2 h2 {
    width: 300px;
    position: relative;
    top: 300px;
    left: 9px;
    font-size: 1em;
    color: orange;
  }

  .mockup  {
    background-color: #f8f8f8;
    height: 800px;
    margin-top: 303px;
  }

  .desktop {
    position: relative;
    left: 14px;
    top: 8px;
    width: 250px;
  }

  .tablet {
    position: relative;
    top: 0;
    left: 100px;
    float: right;
    width: 250px;
  }

  .mobile {
    position: relative;
    bottom: -30px;
    left: 20px;
    width: 200px;
  }
}

@media (min-width:425px) {

  .container {
    min-width: 425px;
    margin: 0 auto;
    padding: 0;
  }

  .menu-icon {
    float: right;
    display: inline-flex;
  }

  .list-item {
    margin-left: 1.2rem;
    padding-top: 4em;
    list-style: none;
  }

  .list-item a {
    color: darkgray;
  }

  .list-item a:hover {
    color: black;
    text-decoration: none;
    border-bottom: solid 2px #fff3b8;/*cream yellow*/
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
  }

  .underline-1 {
    border-bottom: solid 2px gray;
    padding-top: 110px;
    margin-bottom: 100px;
  }

  .my-pic img{
    height: 380px;
    width: 400px;
    position: relative;
    bottom: 20px;
    left: -3px;
  }

  .intro {
    float: right;
    position: relative;
    bottom: 0;
    left: -9px;
    width: 370px;
    color: black;
  }

  .intro h1 {
    font-family: 'adriane', Georgia, serif;
    font-size: 2.1em;
    margin-left: 2px;
  }

  .intro p {
    font-family: 'adriane', Georgia, serif;
    text-align: left;
    font-size: 13px;
    line-height: 1.5em;
  }

  .scroll-icon img {
    position: relative;
    left: 590px;
    width: 60px;
  }

  .scroll-icon a {
    padding-top: 70px;
  }

  .work-1 h2 {
    font-family: 'adriane', Georgia, serif;
    font-size: 3rem;
    position: relative;
    left: 139px;
    top: 90px;
    border-bottom: solid 2px yellow;
    width: 128px;
  }

  .work-1 img {
    box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
    width: 390px;
    position: relative;
    left: 3px;
    top: 190px;
  }

  .work-1 p {
    font-family: 'adriane', Georgia, serif;
    width: 200px;
    float: right;
    position: relative;
    bottom: 130px;
    right: 180px;
    font-size: 1em;
  }

  .work-1 a {
    float: right;
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 0.8em;
    padding: 3px;
    position: relative;
    left: 191px;
    bottom: 135px;
  }

  .work-1 a:hover {
    float: right;
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 0.8em;
    padding: 3px;
    position: relative;
    left: 191px;
    bottom: 135px;
    transition: all 0.7s ease;
    text-decoration: none;
  }

  .mywork {
    position: relative;
    top: 300px;
    left: 149px;
    padding: 4px;
    /* font-size: 1.8em; */
    border: solid 2px yellow;
    width: 110px;
    border-radius: 4px;
  }

  .work-sample a{
    font-size: 0.9em;
    text-decoration: none;
    color: darkgray;
  }

  .work-sample a:hover{
    font-size: 0.9em;
    text-decoration: none;
    color: black;
    transition: all 0.7s ease;
  }

  .more {
    position: relative;
    width: 228px;
    top: 220px;
    left: 165px;
    color: coral;
    font-size: 10px;
  }

  /*.underline-3 {
    border-bottom: solid 2px darkgray;
    padding-top: 510px;
  }

/*
  .service {
    background-color: #f8f4e6;/*ivory
  }

  .service h3 {
    font-family: 'adriane', Georgia, serif;
    padding: 60px 0 55px 104px;
    font-size: 1.7em;
  }

  .service  a {
    color: pink;
  }

  .service  a:hover {
    color: black;
    text-decoration: none;
  }

  .service p {
    font-family: 'adriane', Georgia, serif;
    margin: 20px 0 0 42px;
    font-size: 1em;
    line-height: 1.5;
    width: 325px;
  }

  .service-2 {
    font-size: 1.5em;
    color: black;
    opacity: 0.5;
    font-family: 'adriane', Georgia, serif;
    padding: 54px 0 0 41px;
  }

  .service-2 li {
    line-height: 1.5em;
    width: 340px;
  }

  .underline-4 {
    border: solid 1px darkgray;
    margin-top: 120px;
  } */

  /*skill section*/

  .text {
    width: 300px;
  }
  .skill-section {
    background-color: ghostwhite;
    height: 830px;
    margin-left: 0;
  }

  .my-skills-1 {
    position: relative;
    top: 42px;
    left: 26px;
  }

  .my-skills-1 img {
    margin-left: 116px;
  }

  .my-skills-1 h1 {
    margin-left: 71px;
    font-size: 1.9rem;
  }

  .my-skills-2 {
    position: relative;
    left: 26px;
    bottom: -90px;
  }

  .my-skills-2 h1{
    margin-left: 6px;
    font-size: 1.7rem;
  }

  .my-skills-2 img {
    margin-left: 105px;
  }

  .my-skills-3 {
    position: relative;
    left: 27px;
    bottom: -140px;
    /* top: -350px; */
  }

  .my-skills-3 h1{
    margin-left: 50px;
    font-size: 1.9rem;
  }

  .my-skills-3 img{
    margin-left: 113px;
  }

  .footer h4 {
    font-family: 'adriane', Georgia, serif;
    text-align: center;
    font-size: 1.1em;
    text-align: center;
    padding-top: 120px;
    opacity: 0.7;
  }

  .footer a {
    font-family: 'adriane', Georgia, serif;
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1em;
    padding: 5px;
    position: relative;
    left: 152px;
    top: 50px;
  }

  .footer a:hover {
    font-family: 'adriane', Georgia, serif;
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1em;
    padding: 5px;
    position: relative;
    left: 152px;
    top: 50px;
    transition: all 0.6s ease;
    text-decoration: none;
  }

  .underline-5 {
    border: solid 1px darkgray;
    margin-top: 130px;
  }

  .footer p {
    font-family: 'adriane', Georgia, serif;
    text-align: center;
    padding-top: 20px;
  }


  /*work section index-2.html*/

  .work-section h2 {
    text-align: center;
    font-size: 1.5em;
    font-family: serif;
    margin-left: 3px;
  }

  .work-2 h3 {
    font-size: 1.2em;
    font-family: 'adriane', Georgia, serif;
    margin: 71px 0 70px 156px;
  }

  .work-2 p {
    font-family: 'adriane', Georgia, serif;
    position: relative;
    font-size: 1em;
    text-align: center;
    /*opacity: 0.5;*/
    display: inline-block;
    text-align: left;
    width: 383px;
    left: 9px;
    top: 5px;
    line-height: 30px;
  }

  .work-2 a {
    color: #eec362;
    font-weight: 100;
  }

  .work-2 a:hover {
    color: #000b00;
    text-decoration: none;
    font-weight: 100;
    border-bottom: solid 2px #fff3b8;/*cream yellow*/
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
  }

  .weblink a {
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 0.7em;
    padding: 7px;
    position: relative;
    top: 15px;
    left: 138px;
  }

  .weblink a:hover {
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 0.7em;
    padding: 7px;
    position: relative;
    top: 15px;
    left: 138px;
    transition: all 0.8s ease;
    text-decoration: none;
  }

  /*.work-section a {
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1em;
    padding: 15px;
    position: relative;
    top: 15px;
    left: 112px;
  }

  .work-section a:hover {
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1.1em;
    padding: 15px;
    position: relative;
    top: 15px;
    left: 112px;
    transition: all 0.8s ease;
    text-decoration: none;
  }*/

  .full-page {
    width: 340px;
    position: relative;
    left: 33px;
    top: 100px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
  }

  .work-2 h2 {
    width: 340px;
    position: relative;
    top: 300px;
    left: 5px;
    font-size: 1em;
    color: orange;
  }

  .mockup  {
    background-color: #f8f8f8;
    height: 800px;
    margin-top: 304px;
  }

  .desktop {
    position: relative;
    left: 21px;
    top: 15px;
    width: 250px;
  }

  .tablet {
    position: relative;
    top: 0;
    left: 100px;
    width: 250px;
  }

  .mobile {
    position: relative;
    bottom: -16px;
    left: 50px;
    width: 170px;
  }
}

@media (min-width:768px) {

  .container {
    min-width: 768px;
    margin: 0 auto;
    padding: 0;
  }

  .menu-icon {
    float: right;
    display: inline-flex;
  }

  .list-item {
    margin-left: 4em;
    padding-top: 4em;
    list-style: none;
  }

  .list-item a {
    color: darkgray;
  }

  .list-item a:hover {
    color: black;
    text-decoration: none;
    border-bottom: solid 2px #fff3b8;/*cream yellow*/
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
  }

  .underline-1 {
    border-bottom: solid 2px gray;
    padding-top: 110px;
    margin-bottom: 100px;
  }

  .my-pic img{
    height: 600px;
    width: 650px;
    position: relative;
    bottom: 20px;
    left: 43px;
  }

  .intro {
    float: right;
    position: relative;
    bottom: 280px;
    left: -80px;
    width: 570px;
    color: mintcream;
  }

  .intro h1 {
    font-family: 'adriane', Georgia, serif;
    font-size: 2.1em;
    margin-left: 2px;
  }

  .intro p {
    font-family: 'adriane', Georgia, serif;
    text-align: left;
    font-size: 16px;
    line-height: 1.5em;
  }

  .scroll-icon img {
    position: relative;
    left: 590px;
    width: 60px;
  }

  .scroll-icon a {
    padding-top: 70px;
  }

  .work-1 h2 {
    font-family: 'adriane', Georgia, serif;
    font-size: 2.5rem;
    position: relative;
    left: 334px;
    top: 120px;
    border-bottom: solid 2px yellow;
    width: 105px;
  }

  .work-1 img {
    box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
    width: 600px;
    position: relative;
    left: 65px;
    top: 0;
  }

  .work-1 p {
    font-family: 'adriane', Georgia, serif;
    width: 200px;
    float: right;
    position: relative;
    bottom: -15px;
    right: 75px;
    font-size: 1.2em;
  }

  .work-1 a {
    float: right;
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1.1em;
    padding: 5px;
    position: relative;
    left: 77px;
    bottom: -51px;
  }

  .work-1 a:hover {
    float: right;
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1.1em;
    padding: 5px;
    position: relative;
    left: 77px;
    bottom: -51px;
    transition: all 0.7s ease;
    text-decoration: none;
  }

  .mywork {
    position: relative;
    top: 200px;
    left: 320px;
    padding: 5px;
    /* font-size: 1.8em; */
    border: solid 2px yellow;
    width: 140px;
    border-radius: 5px;
  }

  .work-sample a{
    font-size: 1.2em;
    text-decoration: none;
    color: darkgray;
  }

  .work-sample a:hover{
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    transition: all 0.7s ease;
  }

  .more {
    position: relative;
    width: 400px;
    top: 180px;
    left: 290px;
    color: coral;
    font-size: 1em;
  }

  /*.underline-3 {
    border-bottom: solid 2px darkgray;
    padding-top: 510px;
  }

  .service {
    background-color: #f8f4e6;/*ivory*/


  /*.service h3 {
    font-family: 'adriane', Georgia, serif;
    padding: 120px 0 55px 180px;
    font-size: 3em;
  }

  .service  a {
    color: pink;
  }

  .service  a:hover {
    color: black;
    text-decoration: none;
  }

  .service p {
    font-family: 'adriane', Georgia, serif;
    margin: 20px 0 0 57px;
    font-size: 1.5em;
    line-height: 1.5;
    width: 650px;
  }

  .service-2 {
    font-size: 1.5em;
    color: black;
    opacity: 0.5;
    font-family: 'adriane', Georgia, serif;
    padding: 54px 0 0 41px;
  }

  .service-2 li {
    line-height: 3em;
    width: 681px;
  }

  .underline-4 {
    border: solid 1px darkgray;
    margin-top: 120px;
  } */


    .text {
      width: 180px;
    }

    .skill-section {
      background-color: ghostwhite;
      height: 400px;
      margin-left: 0;
    }

    .my-skills-1 {
      position: relative;
      top: 70px;
      left: 4px;
    }

    .my-skills-1 img {
      margin-left: 53px;
    }

    .my-skills-1 h1 {
      margin-left: 16px;
      font-size: 1.8rem;
    }

    .my-skills-2 {
      position: relative;
      left: 246px;
      bottom: 192px;
    }

    .my-skills-2 h1{
      margin-left: -15px;
      font-size: 1.3rem;
    }

    .my-skills-2 img {
      margin-left: 55px;
    }

    .my-skills-3 {
      position: relative;
      left: 500px;
      bottom: 483px;
      /* top: -350px; */
    }

    .my-skills-3 h1{
      margin-left: -5px;
      font-size: 1.8rem;
    }

    .my-skills-3 img{
      margin-left: 50px;
    }

  .footer h4 {
    font-family: 'adriane', Georgia, serif;
    text-align: center;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 120px;
    opacity: 0.7;
  }

  .footer a {
    font-family: 'adriane', Georgia, serif;
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1.1em;
    padding: 10px;
    position: relative;
    left: 312px;
    top: 50px;
  }

  .footer a:hover {
    font-family: 'adriane', Georgia, serif;
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1.1em;
    padding: 10px;
    position: relative;
    left: 312px;
    top: 50px;
    transition: all 0.6s ease;
    text-decoration: none;
  }

  .underline-5 {
    border: solid 1px darkgray;
    margin-top: 130px;
  }

  .footer p {
    font-family: 'adriane', Georgia, serif;
    text-align: center;
    padding-top: 20px;
  }


  /*work section index-2.html*/

  .work-section h2 {
    text-align: center;
    font-size: 2.3em;
    font-family: serif;
    margin-left: 6px;
  }

  .work-2 h3 {
    font-size: 1.4em;
    font-family: 'adriane', Georgia, serif;
    margin: 100px 0 70px 314px;
  }

  .work-2 p {
    font-family: 'adriane', Georgia, serif;
    position: relative;
    font-size: 1em;
    text-align: center;
    /*opacity: 0.5;*/
    display: inline-block;
    text-align: left;
    width: 664px;
    left: 40px;
    top: 36px;
    line-height: 35px;
  }

  .work-2 a {
    color: #eec362;
    font-weight: 100;
  }

  .work-2 a:hover {
    color: #000b00;
    text-decoration: none;
    font-weight: 100;
    border-bottom: solid 2px #fff3b8;/*cream yellow*/
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
  }

  .weblink a {
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 0.8em;
    padding: 10px;
    position: relative;
    top: 15px;
    left: 303px;
  }

  .weblink a:hover {
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 0.8em;
    padding: 10px;
    position: relative;
    top: 15px;
    left: 303px;
    transition: all 0.8s ease;
    text-decoration: none;
  }

  /*.work-section a {
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1em;
    padding: 15px;
    position: relative;
    top: 15px;
    left: 280px;
  }

  .work-section a:hover {
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1.1em;
    padding: 15px;
    position: relative;
    top: 15px;
    left: 280px;
    transition: all 0.8s ease;
    text-decoration: none;
  }*/

  .full-page {
    width: 500px;
    position: relative;
    left: 122px;
    top: 200px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
  }

  .work-2 h2 {
    width: 400px;
    position: relative;
    top: 400px;
    left: 175px;
    font-size: 1.1em;
    color: orange;
  }

  .mockup  {
    background-color: #f8f8f8;
    height: 640px;
    margin-top: 400px;
  }

  .desktop {
    position: relative;
    left: 195px;
    top: -1px;
    width: 360px;
  }

  .tablet {
    position: relative;
    top: -90px;
    left: 100px;
    float: right;
    width: 379px;
  }

  .mobile {
    position: relative;
    bottom: -202px;
    left: -350px;
    width: 234px;
  }
}

@media (min-width:1024px) {

  .container {
    min-width: 1024px;
    margin: 0 auto;
    padding: 0;
  }

  .menu-icon {
    float: right;
    display: inline-flex;
  }

  .list-item {
    margin-left: 4em;
    padding-top: 4em;
    list-style: none;
  }

  .list-item a {
    color: darkgray;
  }

  .list-item a:hover {
    color: black;
    text-decoration: none;
    border-bottom: solid 2px #fff3b8;/*cream yellow*/
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
  }

  .underline-1 {
    border-bottom: solid 2px gray;
    padding-top: 110px;
    margin-bottom: 100px;
  }

  .my-pic img{
    height: 400px;
    width: 450px;
    position: relative;
    left: 0;
    bottom: 0;
  }

  .intro {
    float: right;
    position: relative;
    bottom: 355px;
    left: -64px;
    width: 400px;
    color: black;
  }

  .intro h1 {
    font-family: 'adriane', Georgia, serif;
    font-size: 2.3em;
    margin-left: 2px;
  }

  .intro p {
    font-family: 'adriane', Georgia, serif;
    text-align: left;
    font-size: 16px;
    line-height: 1.5em;
  }

  .scroll-icon img {
    position: relative;
    left: 590px;
    width: 60px;
  }

  .scroll-icon a {
    padding-top: 70px;
  }

  .work-1 h2 {
    font-family: 'adriane', Georgia, serif;
    font-size: 3.3rem;
    position: relative;
    left: 430px;
    top: 160px;
    border-bottom: solid 2px yellow;
    width: 140px;
  }

  .work-1 img {
    box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
    width: 600px;
    position: relative;
    left: 50px;
    top: 0;
  }

  .work-1 p {
    font-family: 'adriane', Georgia, serif;
    width: 200px;
    float: right;
    position: relative;
    bottom: -140px;
    right: 50px;
    font-size: 1.2em;
  }

  .work-1 a {
    float: right;
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1.4em;
    padding: 5px;
    position: relative;
    left: 125px;
    bottom: -200px;
  }

  .work-1 a:hover {
    float: right;
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1.4em;
    padding: 10px;
    position: relative;
    left: 125px;
    bottom: -200px;
    transition: all 0.7s ease;
    text-decoration: none;
  }

  .mywork {
    position: relative;
    top: 100px;
    left: 437px;
    padding: 5px;
    /* font-size: 1.8em; */
    border: solid 2px yellow;
    width: 160px;
    border-radius: 5px;
  }

  .work-sample a{
    font-size: 1.4em;
    text-decoration: none;
    color: darkgray;
  }

  .work-sample a:hover{
    font-size: 1.4em;
    text-decoration: none;
    color: black;
    transition: all 0.7s ease;
  }

  .more {
    position: relative;
    width: 400px;
    top: 100px;
    left: 420px;
    color: coral;
    font-size: 1em;
  }

  /*.underline-3 {
    border-bottom: solid 2px darkgray;
    padding-top: 510px;
  }

  .service {
    background-color: #f8f4e6;/*ivory*/


  /*.service h3 {
    font-family: 'adriane', Georgia, serif;
    padding: 120px 0 55px 60px;
    font-size: 3em;
  }

  .service  a {
    color: pink;
  }

  .service  a:hover {
    color: black;
    text-decoration: none;
  }

  .service p {
    font-family: 'adriane', Georgia, serif;
    margin: 20px 0 0 57px;
    font-size: 1.5em;
    line-height: 1.5;
    width: 900px;
  }

  .service-2 {
    font-size: 1.5em;
    color: black;
    opacity: 0.5;
    font-family: 'adriane', Georgia, serif;
    padding: 20px 0 0 90px;
  }

  .service-2 li {
    line-height: 3em;
    width: 800px;
  }

  .underline-4 {
    border: solid 1px darkgray;
    margin-top: 120px;
  } */

  .text {
    width: 250px;
  }

  .skill-section {
    background-color: ghostwhite;
    height: 360px;
    margin-left: 2px;
    margin-top: 360px;
  }

  .my-skills-1 {
    position: relative;
    top: 74px;
    left: 18px;
  }

  .my-skills-1 img {
    margin-left: 83px;
  }

  .my-skills-1 h1 {
    margin-left: 38px;
    font-size: 1.9rem;
  }

  .my-skills-2 {
    position: relative;
    left: 331px;
    bottom: 156px;
  }

  .my-skills-2 h1{
    margin-left: -31px;
    font-size: 1.9rem;
  }

  .my-skills-2 img {
    margin-left: 80px;
  }

  .my-skills-3 {
    position: relative;
    left: 670px;
    bottom: 408px;
    /* top: -350px; */
  }

  .my-skills-3 h1{
    margin-left: 28px;
    font-size: 1.9rem;
  }

  .my-skills-3 img{
    margin-left: 94px;
  }

  .footer h4 {
    font-family: 'adriane', Georgia, serif;
    text-align: center;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 120px;
    opacity: 0.7;
  }

  .footer a {
    font-family: 'adriane', Georgia, serif;
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1.4em;
    padding: 10px;
    position: relative;
    left: 420px;
    top: 50px;
  }

  .footer a:hover {
    font-family: 'adriane', Georgia, serif;
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1.4em;
    padding: 10px;
    position: relative;
    left: 420px;
    top: 50px;
    transition: all 0.6s ease;
    text-decoration: none;
  }

  .underline-5 {
    border: solid 1px darkgray;
    margin-top: 130px;
  }

  .footer p {
    font-family: 'adriane', Georgia, serif;
    text-align: center;
    padding-top: 20px;
  }


  /*work section index-2.html*/

  .work-section h2 {
    text-align: center;
    font-size: 2.5em;
    font-family: serif;
  }

  .work-2 h3 {
    font-size: 1.4em;
    font-family: 'adriane', Georgia, serif;
    margin: 100px 0 64px 448px;
  }

  .work-2 p {
    font-family: 'adriane', Georgia, serif;
    position: relative;
    font-size: 1em;
    text-align: center;
    /*opacity: 0.5;*/
    display: inline-block;
    text-align: left;
    width: 700px;
    left: 161px;
    top: 60px;
    line-height: 35px;
  }

  .work-2 a {
    color: #eec362;
    font-weight: 100;
  }

  .work-2 a:hover {
    color: #000b00;
    text-decoration: none;
    font-weight: 100;
    border-bottom: solid 2px #fff3b8;/*cream yellow*/
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
  }

  .weblink a {
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1em;
    padding: 15px;
    position: relative;
    top: 15px;
    left: 410px;
  }

  .weblink a:hover {
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1em;
    padding: 15px;
    position: relative;
    top: 15px;
    left: 410px;
    transition: all 0.8s ease;
    text-decoration: none;
  }

  /*.work-section a {
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1em;
    padding: 15px;
    position: relative;
    top: 15px;
    left: 420px;
  }

  .work-section a:hover {
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1.1em;
    padding: 15px;
    position: relative;
    top: 15px;
    left: 420px;
    transition: all 0.8s ease;
    text-decoration: none;
  } */

  .full-page {
    width: 630px;
    position: relative;
    left: 182px;
    top: 200px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
  }

  .work-2 h2 {
    width: 400px;
    position: relative;
    top: 300px;
    left: 270px;
    font-size: 1.2em;
    color: orange;
  }

  .mockup  {
    background-color: #f8f8f8;
    height: 700px;
    margin-top: 300px;
  }

  .desktop {
    position: relative;
    left: 289px;
    top: 100px;
    width: 400px;
  }

  .tablet {
    position: relative;
    top: 300px;
    left: 100px;
    float: right;
    margin-right: 60px;
  }

  .mobile {
    position: relative;
    bottom: 150px;
    left: 80px;
    width: 230px;
  }
}

@media (min-width:1280px) {

.container {
  min-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.menu-icon {
  float: right;
  display: inline-flex;
}

.list-item {
  margin-left: 2em;
  padding-top: 4em;
  list-style: none;
}

.list-item a {
  color: darkgray;
}

.list-item a:hover {
  color: black;
  text-decoration: none;
  border-bottom: solid 2px #fff3b8;/*cream yellow*/
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.underline-1 {
  border-bottom: solid 2px gray;
  padding-top: 110px;
  margin-bottom: 100px;
}

.my-pic img{
  height: 500px;
  width: 550px;
  position: relative;
  left: 0;
  bottom: 0;
}

.intro {
  float: right;
  position: relative;
  bottom: 400px;
  left: 0;
  width: 650px;
  color: black;
}

.intro h1 {
  font-family: 'adriane', Georgia, serif;
  font-size: 3.4rem;
  margin-left: 29px;
}

.intro p {
  font-family: 'adriane', Georgia, serif;
  text-align: left;
  font-size: 18px;
  line-height: 1.5em;
}

.scroll-icon img {
  position: relative;
  left: 590px;
  width: 60px;
}

.scroll-icon a {
  padding-top: 70px;
}

.work-1 h2 {
  font-family: 'adriane', Georgia, serif;
  font-size: 3.7rem;
  position: relative;
  left: 550px;
  top: 130px;
  border-bottom: solid 2px yellow;
  width: 155px;
}

.work-1 img {
  box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
  width: 600px;
  position: relative;
  left: 200px;
  top: 200px;
}

.work-1 p {
  font-family: 'adriane', Georgia, serif;
  width: 200px;
  float: right;
  position: relative;
  bottom: 100px;
  right: 100px;
  font-size: 1.2em;
}

.work-1 a {
  float: right;
  border: solid 2px lightyellow;
  color: darkgray;
  border-radius: 4px;
  font-size: 1.4em;
  padding: 5px;
  position: relative;
  left: 75px;
  bottom: 50px;
}

.work-1 a:hover {
  float: right;
  border: solid 2px yellow;
  color: black;
  border-radius: 4px;
  font-size: 1.4em;
  padding: 10px;
  position: relative;
  left: 75px;
  bottom: 50px;
  transition: all 0.7s ease;
  text-decoration: none;
}

.mywork {
  position: relative;
  top: 350px;
  left: 555px;
  padding: 5px;
  /* font-size: 1.8em; */
  border: solid 2px yellow;
  width: 151px;
  border-radius: 5px;
}

.work-sample a{
  font-size: 1.4em;
  text-decoration: none;
  color: darkgray;
}

.work-sample a:hover{
  font-size: 1.4em;
  text-decoration: none;
  color: black;
  transition: all 0.7s ease;
}
.more {
  position: relative;
  width: 400px;
  top: 350px;
  left: 500px;
  color: coral;
  font-size: 1em;
}

/*.underline-3 {
  border-bottom: solid 2px darkgray;
  padding-top: 510px;
}

.service {
  background-color: #f8f4e6;/*ivory*/


/*.service h3 {
  font-family: 'adriane', Georgia, serif;
  padding: 120px 0 55px 60px;
  font-size: 3em;
}

.service  a {
  color: pink;
}

.service  a:hover {
  color: black;
  text-decoration: none;
}

.service p {
  font-family: 'adriane', Georgia, serif;
  margin: 20px 0 0 57px;
  font-size: 1.5em;
  line-height: 1.5;
  width: 1200px;
}

.service-2 {
  font-size: 1.5em;
  color: black;
  opacity: 0.5;
  font-family: 'adriane', Georgia, serif;
  padding: 20px 0 0 90px;
}

.service-2 li {
  line-height: 3em;
  width: 1000px;
}

.underline-4 {
  border: solid 1px darkgray;
  margin-top: 120px;
} */


  .text {
    width: 300px;
  }

  .skill-section {
    background-color: ghostwhite;
    height: 360px;
    margin-top: 500px;
    margin-left: 2px;
  }

  .my-skills-1 {
    position: relative;
    top: 76px;
    left: 40px;
  }

  .my-skills-1 img {
    margin-left: 115px;
  }

  .my-skills-1 h1 {
    margin-left: 58px;
    font-size: 2.3rem;
  }

  .my-skills-2 {
    position: relative;
    left: 450px;
    bottom: 140px;
  }

  .my-skills-2 h1{
    margin-left: -32px;
    font-size: 2.3rem;
  }

  .my-skills-2 img {
    margin-left: 103px;
  }

  .my-skills-3 {
    position: relative;
    left: 850px;
    bottom: 378px;
    /* top: -350px; */
  }

  .my-skills-3 h1{
    margin-left: 33px;
    font-size: 2.3rem;
  }

  .my-skills-3 img{
    margin-left: 115px;
  }

.footer h4 {
  font-family: 'adriane', Georgia, serif;
  text-align: center;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 120px;
  opacity: 0.7;
}

.footer a {
  font-family: 'adriane', Georgia, serif;
  border: solid 2px lightyellow;
  color: darkgray;
  border-radius: 4px;
  font-size: 1.4em;
  padding: 10px;
  position: relative;
  left: 550px;
  top: 50px;
}

.footer a:hover {
  font-family: 'adriane', Georgia, serif;
  border: solid 2px yellow;
  color: black;
  border-radius: 4px;
  font-size: 1.4em;
  padding: 10px;
  position: relative;
  left: 550px;
  top: 50px;
  transition: all 0.6s ease;
  text-decoration: none;
}

.underline-5 {
  border: solid 1px darkgray;
  margin-top: 130px;
}

.footer p {
  font-family: 'adriane', Georgia, serif;
  text-align: center;
  padding-top: 20px;
}


/*work section index-2.html*/

.work-section h2 {
  text-align: center;
  font-size: 3em;
  font-family: serif;
}

.work-2 h3 {
  font-size: 1.4em;
  font-family: 'adriane', Georgia, serif;
  margin: 100px 0 70px 550px;
  padding-left: 25px;
}

.work-2 p {
  font-family: 'adriane', Georgia, serif;
  position: relative;
  font-size: 1em;
  text-align: center;
  /*opacity: 0.5;*/
  display: inline-block;
  text-align: left;
  width: 700px;
  left: 295px;
  top: 60px;
  line-height: 35px;
}

.work-2 a {
  color: #eec362;
  font-weight: 100;
}

.work-2 a:hover {
  color: #000b00;
  text-decoration: none;
  font-weight: 100;
  border-bottom: solid 2px #fff3b8;/*cream yellow*/
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.weblink a {
  border: solid 2px lightyellow;
  color: darkgray;
  border-radius: 4px;
  font-size: 1em;
  padding: 15px;
  position: relative;
  top: 15px;
  left: 530px;
}

.weblink a:hover {
  border: solid 2px yellow;
  color: black;
  border-radius: 4px;
  font-size: 1em;
  padding: 15px;
  position: relative;
  top: 15px;
  left: 530px;
  transition: all 0.8s ease;
  text-decoration: none;
}

.full-page {
  width: 800px;
  position: relative;
  left: 230px;
  top: 200px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
}

.work-2 h2 {
  width: 400px;
  position: relative;
  top: 400px;
  left: 30px;
  font-size: 1.3em;
  color: orange;
}

.mockup  {
  background-color: #f8f8f8;
  height: 820px;
  margin-top: 400px;
}

.desktop {
  position: relative;
  left: 380px;
  top: 40px;
  width: 450px;
}

.tablet {
  position: relative;
  top: 400px;
  left: 100px;
  width: 450px;
  margin-right: 80px;
}

.mobile {
  position: relative;
  bottom: -309px;
  left: -300px;
  width: 260px;
}
}

@media (min-width:1440px) {

  .container {
    min-width: 1280px;
    margin: 0 auto;
    padding: 0;
  }

  .menu-icon {
    float: right;
    display: inline-flex;
  }

  .list-item {
    margin-left: 2em;
    padding-top: 4em;
    list-style: none;
  }

  .list-item a {
    color: darkgray;
  }

  .list-item a:hover {
    color: black;
    text-decoration: none;
    border-bottom: solid 2px #fff3b8;/*cream yellow*/
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
  }

  .underline-1 {
    border-bottom: solid 2px gray;
    padding-top: 110px;
    margin-bottom: 100px;
  }

  .my-pic img{
    height: 550px;
    width: 600px;
    position: relative;
    left: 0;
    bottom: 0;
  }

  .intro {
    float: right;
    position: relative;
    bottom: 500px;
    left: 60px;
    width: 650px;
    color: black;
  }

  .intro h1 {
    font-family: 'adriane', Georgia, serif;
    font-size: 3.7em;
    margin-left: 2px;
  }

  .intro p {
    font-family: 'adriane', Georgia, serif;
    text-align: left;
    font-size: 20px;
    line-height: 1.5em;
  }

  .scroll-icon img {
    position: relative;
    left: 590px;
    width: 60px;
  }

  .scroll-icon a {
    padding-top: 70px;
  }

  .work-1 h2 {
    font-family: 'adriane', Georgia, serif;
    font-size: 4em;
     position: relative;
     left: 550px;
     top: 140px;
     border-bottom: solid 2px yellow;
     width: 160px;
  }

  .work-1 img {
    box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
    width: 600px;
    position: relative;
    left: 200px;
    top: 200px;
  }

  .work-1 p {
    font-family: 'adriane', Georgia, serif;
    width: 200px;
    float: right;
    position: relative;
    bottom: 100px;
    right: 60px;
    font-size: 1.2em;
  }

  .work-1 a {
    float: right;
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1.4em;
    padding: 5px;
    position: relative;
    left: 120px;
    bottom: 50px;
  }

  .work-1 a:hover {
    float: right;
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1.4em;
    padding: 10px;
    position: relative;
    left: 120px;
    bottom: 50px;
    transition: all 0.7s ease;
    text-decoration: none;
  }

  .mywork {
    position: relative;
    top: 350px;
    left: 550px;
    padding: 5px;
    /* font-size: 1.8em; */
    border: solid 2px yellow;
    width: 162px;
    border-radius: 5px;
  }

  .work-sample a{
    font-size: 1.5em;
    text-decoration: none;
    color: darkgray;
  }

  .work-sample a:hover{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    transition: all 0.7s ease;
  }

  .more {
    position: relative;
    width: 400px;
    top: 350px;
    left: 500px;
    color: coral;
    font-size: 1em;
  }

  /*.underline-3 {
    border-bottom: solid 2px darkgray;
    padding-top: 510px;
  }

  .service {
    background-color: #f8f4e6;/*ivory*/


  /*.service h3 {
    font-family: 'adriane', Georgia, serif;
    padding: 120px 0 55px 60px;
    font-size: 3em;
  }

  .service  a {
    color: pink;
  }

  .service  a:hover {
    color: black;
    text-decoration: none;
  }

  .service p {
    font-family: 'adriane', Georgia, serif;
    margin: 20px 0 0 57px;
    font-size: 1.5em;
    line-height: 1.5;
    width: 1200px;
  }

  .service-2 {
    font-size: 1.5em;
    color: black;
    opacity: 0.5;
    font-family: 'adriane', Georgia, serif;
    padding: 20px 0 0 90px;
  }

  .service-2 li {
    line-height: 3em;
    width: 1000px;
  }

  .underline-4 {
    border: solid 1px darkgray;
    margin-top: 120px;
  } */


  .text {
    width: 300px;
  }

  .skill-section {
    background-color: ghostwhite;
    height: 360px;
    margin-top: 500px;
  }

  .my-skills-1 {
    position: relative;
    top: 70px;
    left: 45px;
  }

  .my-skills-1 img {
    margin-left: 103px;
  }

  .my-skills-1 h1 {
    margin-left: 48px;
    font-size: 2.5rem;
  }

  .my-skills-2 {
    position: relative;
    left: 450px;
    bottom: 150px;
  }

  .my-skills-2 h1{
    margin-left: -31px;
    font-size: 2.3rem;
  }

  .my-skills-2 img {
    margin-left: 109px;
  }

  .my-skills-3 {
    position: relative;
    left: 850px;
    bottom: 392px;
    /* top: -350px; */
  }

  .my-skills-3 h1{
    margin-left: 20px;
    font-size: 2.5rem;
  }

  .my-skills-3 img{
    margin-left: 107px;
  }

  .footer h4 {
    font-family: 'adriane', Georgia, serif;
    text-align: center;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 120px;
    opacity: 0.7;
  }

  .footer a {
    font-family: 'adriane', Georgia, serif;
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1.4em;
    padding: 10px;
    position: relative;
    left: 550px;
    top: 50px;
  }

  .footer a:hover {
    font-family: 'adriane', Georgia, serif;
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1.4em;
    padding: 10px;
    position: relative;
    left: 550px;
    top: 50px;
    transition: all 0.6s ease;
    text-decoration: none;
  }

  .underline-5 {
    border: solid 1px darkgray;
    margin-top: 130px;
  }

  .footer p {
    font-family: 'adriane', Georgia, serif;
    text-align: center;
    padding-top: 20px;
  }


  /*work section index-2.html*/

  .work-section h2 {
    text-align: center;
    font-size: 3em;
    font-family: serif;
  }

  .work-2 h3 {
    font-size: 1.4em;
    font-family: 'adriane', Georgia, serif;
    margin: 100px 0 70px 550px;
    padding-left: 26px;
  }

  .work-2 p {
    font-family: 'adriane', Georgia, serif;
    position: relative;
    font-size: 1em;
    text-align: center;
    /*opacity: 0.5;*/
    display: inline-block;
    text-align: left;
    width: 700px;
    left: 297px;
    top: 60px;
    line-height: 35px;
  }

  .work-2 a {
    color: #eec362;
    font-weight: 100;
  }

  .work-2 a:hover {
    color: #000b00;
    text-decoration: none;
    font-weight: 100;
    border-bottom: solid 2px #fff3b8;/*cream yellow*/
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
  }

  .weblink a {
    border: solid 2px lightyellow;
    color: darkgray;
    border-radius: 4px;
    font-size: 1em;
    padding: 15px;
    position: relative;
    top: 19px;
    left: 530px;
  }

  .weblink a:hover {
    border: solid 2px yellow;
    color: black;
    border-radius: 4px;
    font-size: 1em;
    padding: 15px;
    position: relative;
    top: 19px;
    left: 530px;
    transition: all 0.8s ease;
    text-decoration: none;
  }

  .full-page {
    width: 800px;
    position: relative;
    left: 230px;
    top: 200px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
  }

  .work-2 h2 {
    width: 400px;
    position: relative;
    top: 400px;
    left: 30px;
    font-size: 1.3em;
    color: orange;
  }

  .mockup  {
    background-color: #f8f8f8;
    height: 870px;
    margin-top: 400px;
  }

  .desktop {
    position: relative;
    left: 330px;
    top: 50px;
    width: 570px;
  }

  .tablet {
    position: relative;
    top: 400px;
    left: 100px;
    width: 550px;
  }

  .mobile {
    position: relative;
    bottom: 244px;
    left: 40px;
    width: 330px;
  }
}
